%h1
  Learny
.container
  %h2
    ¡Bienvenido #{@resource.name}!
  %p Puedes confirmar tu cuenta de correo mediante el vínculo siguiente:
  %p= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token)