.container
  .row
    .col-md-8
      .jumbotron.next-courses
        .row.well
          =render partial: 'shared/carousel_next_workshops', locals: {next_workshops: current_student.next_workshops}
      .well.workshop-search-form
        = form_tag '/workshops', method: :get do
          .input-group.input-group-lg
            %input.form-control.search-workshop{:value => "#{random_workshop}", :type => "text", :name => "w"}/
            %span.input-group-btn
              %button.btn.btn-primary{:type => "submit", :value=> "Search"}
                %span.glyphicon.glyphicon-search
    .col-md-4
      #pnl-badges.panel.panel-primary
        .panel-heading
          %h3.panel-title
            =t 'views.legends.news', default: 'News'
            /Seguimiento de expertos, cursos
        .panel-body.badges-content
          .scroll-panel
            .row-fluid
              
      .panel.panel-primary
        .panel-heading
          %h3.panel-title 
            =t 'views.legends.recomendations', default: 'Recomendations'
        .panel-body.text-center

  