.container
  .col-md-8
    .jumbotron
      .row.well
        .row
          .col-md-4
            .panel.panel-danger
              .panel-body
                %img.featurette-image.img-responsive{:alt => "Profile", :src => @student.avatar_url}
          .col-md-8
            %blockquote
              %h2
                = @student.full_name
              %h3
                = @student.occupation
              -if current_student == @student
                =link_to edit_student_registration_path, class: 'btn btn-warning btn-lg btn-block' do
                  =t('edit', default: 'Edit')
        .row.container
          %p
            = simple_format @student.profile

            
    -if current_student == @student
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Proximos talleres
        .panel-body
          .jumbotron.next-courses
            .row.well
              =render partial: 'shared/carousel_next_workshops', locals: {next_workshops: current_student.next_workshops}



    -if current_student == @student
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Historia de talleres
        .panel-body
          .jumbotron.next-courses
            .row.well
              =render partial: 'shared/carousel_next_workshops', locals: {next_workshops: current_student.previous_workshops}

                  
  .col-md-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Contacto
      .panel-body
        