.container
  .panel.panel-default
    .panel-heading
      %h4 Editing reservation
    .panel-body
      = render 'form'
      
      - venue=@reservation.venue
      - if venue.present?
        = link_to 'Show', [:admin, venue, @reservation], class: 'btn btn-default'
        = link_to 'Back', admin_venue_reservations_path(venue), class: 'btn btn-default'
