%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  %body

    %h1
      Learny
    .container
      .jumbotron
        %h2
          ¡Hola #{@resource.first_name || @resource.email}!
        %p Alguien ha solicitado un vínculo para cambiar tu contraseña. Puedes hacer esto mediante el siguiente vínculo.
        %p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
        %p En caso de que tu no solicitaras esto, por favor ignora este correo.
        %p Tu contraseña no cambiará hasta que accedas al vínculo anterior y generes una contraseña nueva
    .footer
  