Learny | Cancelación de Reservación

El experto canceló el Taller "#{@workshop.name}" que se iba a impartir en tu Establecimiento!

* La reservación estará disponible para otros talleres.
Otros Expertos podrán disponer ahora de ese horario para proponer nuevos talleres.

Afectuosamente, el equipo de Learny