Learny | Hay un nuevo Taller Confirmado en tu Establecimiento

El taller "#{@workshop.name}" se impartirá en tu Establecimiento!

Horario: #{@reservation.fmt_duration}

* Asegúrate de tener todo listo para atender a tus invitados.
Recuerda que los asistentes consumirán tus productos y podrán dejar referencias en tu perfil. Entre mejores referencias obtengas más oportunidades tendrás de conseguir nuevos clientes y tu Establecimiento será más atractivo para nuevos Talleres.

* Revisa que las amenidades que ofreces en tu perfil estén actualizadas.
Si en tu perfil ofreces un proyector entre tus amenidades, asegúrate que esté disponible para el horario del taller, puede que el Experto dependa totalmente de este para impartir su taller.

Afectuosamente, el equipo de Learny     