- provide(:title, 'Preguntas frecuentes')

%div{:class=>"container"}
	%div{:class=>"row"}
		%div{:class=>"col-md-12"}
			%h1 Preguntas frecuentes
			#accordion.panel-group
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
								%span.glyphicon.glyphicon-chevron-right
								¿Que es Learny?
							#collapseOne.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Learny es un espacio de encuentro para el aprendizaje. En Learny creemos que todos tenemos un tema que nos apasiona y que nos encantaría compartir. Queremos conectar a ese experto apasionado con personas ansiosas de aprender de él, en un ambiente relajado y amigable.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
								%span.glyphicon.glyphicon-chevron-right
								¿Cómo funciona Learny?
							#collapseTwo.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Si eres 
										%strong experto 
										en algún tema y te encanta enseñar, Learny te ayuda consiguiendote un lugar que se adapte a tus necesidades. Además haremos publicidad a tu curso para que solo tengas que preocuparte por rockear en clase.
									%p	
										Si estas 
										%strong buscando aprender algo
										, Learny te ofrece un catálogo de todo tipo de cursos: cocina, idiomas, tecnología, historia, filosofía, música, mercadotecnia, diseño, publicidad, danza, canto, deportes, ajedrez, skateboarding, belleza, hidroponia, preparación de cerveza… mientras podamos encontrar un experto en el tema, nosotros lo traeremos para ti.
									%p	
										Si tienes un 
										%strong establecimiento
										, local, salon de baile, restaurante, gimnasio, bar, cafe, garage, jardín, o cualquier espacio público o privado que crees que pueda usarse para dar una clase, Learny es el lugar ideal para anunciarlo. No sólo atraerás nuevos clientes y le darás fama a tu establecimiento, estarás impulsando la educación abierta y sin censura que en las instituciones es casi imposible de encontrar
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
								%span.glyphicon.glyphicon-chevron-right
								¿Por qué Learny y no un curso online?
							#collapseThree.panel-collapse.collapse
								.panel-body
									%p.text-justified
										La mente retiene el 10% de lo que se lee, el 20% de lo que se escucha, y el 30% de lo que se ve en imágenes. La retención puede incrementarse hasta un 90% cuando además se discute y se experimenta. ¿Quieres aprender a nadar viendo videos en Youtube? ¿Que tal un curso de cocina? El gusto, el olfato y hasta el tacto contribuirán a tu aprendizaje.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
								%span.glyphicon.glyphicon-chevron-right
								¿Por qué Learny y no una institución?
							#collapseFour.panel-collapse.collapse
								.panel-body
									%p.text-justified
										La mayoría de las veces la reputación de una institución no garantiza que el instructor sea bueno. Los instructores de Learny reciben retroalimentación directa de sus estudiantes a través de referencias en su perfil público. Esto ayuda a que el instructor mejore continuamente y a generar confianza a los futuros estudiantes que busquen tomar un curso con dicho instructor.
									%p
										Otras veces el instructor es excelente, pero las instalaciones son pésimas. En Learny queremos que te sientas cómodo y disfrutes la experiencia de asistir a cada clase. Las reglas gramaticales del Alemán se entienden mucho mejor con una cerveza de trigo en el bar Berlin… en serio!
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
								%span.glyphicon.glyphicon-chevron-right
								¿Son un MOOC, moodle o un e-Learning?
							#collapseFive.panel-collapse.collapse
								.panel-body
									%p.text-justified
										No, ninguna de las tres. Learny es una herramienta que ayuda a las personas a reunirse con expertos en temas de su interés para aprender de ellos. Creemos que la experiencia de reunirse con personas de carne y hueso no se compara con ninguna alternativa en línea. Si prefieres tener más seguidores en twitter que salir con tus amigos, tal vez Learny no sea para ti.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix"}
								%span.glyphicon.glyphicon-chevron-right
								¿Los cursos son presenciales o en línea?
							#collapseSix.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Los cursos son presenciales. Para Learny lo importante son las personas y queremos propiciar el encuentro entre individuos interesados en los  mismos temas. No sólo es importante QUÉ se enseña, sino quién, cómo y dónde lo enseña.				
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven"}
								%span.glyphicon.glyphicon-chevron-right
								¿Dónde se dan los cursos, talleres, conferencias, etc.?
							#collapseSeven.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Depende del experto y el tema a impartir. Puedes encontrar cursos por zona y elegir el que más te convenga. Si encuentras un curso increible pero que se da en otra ciudad, manda un mensaje al instructor y dile que estás creando un club de fans para él, tal vez lo convenzas de iniciar una gira.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEight"}
								%span.glyphicon.glyphicon-chevron-right
								¿Si quiero dar un curso, necesito tener un documento que me avale como experto en el tema?
							#collapseEight.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Aunque tu CV es muy valioso, en Learny lo que importa es la opinión de tus alumnos. Te recomendamos tener un perfil muy descriptivo, agrega todos los reconocimientos y experiencias que tengas en el tema. Además te recomendamos obtener un buen número de referencias para atraer más alumnos. Puedes comenzar dando cursos gratuitos para obtener buenas referencias en tu perfil.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseNine"}
								%span.glyphicon.glyphicon-chevron-right
								¿Qué temas puedo dar?
							#collapseNine.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Ese tema del que podrías pasar horas hablando sin cansarte, o aquello por lo que siempre va gente a consultarte porque eres el experto. Tú decides qué y cómo quieres enseñarlo.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTen"}
								%span.glyphicon.glyphicon-chevron-right
								¿Hay cursos gratuitos?
							#collapseTen.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Claro, pero esto depende del experto ya que él es quien elige el tema a tratar y costo del curso.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEleven"}
								%span.glyphicon.glyphicon-chevron-right								
								¿Cuáles son las formas de pago?
							#collapseEleven.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Por el momento sólo aceptamos pagos en efectivo. Estamos trabajando para que más adelante puedas usar Paypal, Conekta, Bitcoins, Timecoins, etc. para pagar tus cursos.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwelve"}
								%span.glyphicon.glyphicon-chevron-right
								¿En qué moneda se pagan los cursos?
							#collapseTwelve.panel-collapse.collapse
								.panel-body
									%p.text-justified
										En pesos Mexicanos (MXN), si quieres utilizar alguna otra divisa escríbenos a 
										%strong
											cursos@learny.me
										y te daremos una solución.				
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThirteen"}
								%span.glyphicon.glyphicon-chevron-right
								¿Recibo algo que justifique que tomé el curso?
							#collapseThirteen.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Por el momento nuestros cursos no tienen validez oficial. Las habilidades y experiencias que obtendrás en Learny van mucho más allá del papel.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourteen"}
								%span.glyphicon.glyphicon-chevron-right
								Ya pagué un curso, ¿Ahora qué hago?
							#collapseFourteen.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Espera el correo de confirmación donde recibirás tu pase de ingreso que tendrás que presentar el día del curso.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFifteen"}
								%span.glyphicon.glyphicon-chevron-right
								¿Qué pasa si pagué un curso y no puedo asistir? ¿Tienen una política de reembolso?
							#collapseFifteen.panel-collapse.collapse
								.panel-body
									%p.text-justified
										No hacemos reembolsos de dinero, sin embargo podemos darte crédito para otros cursos en Learny. O bien, puedes transferir tu código a otra persona que quiera tomar el curso.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSixteen"}
								%span.glyphicon.glyphicon-chevron-right
								No tengo todo claro o me gustaría sugerir cambios a Learny, ¿Como puedo contactarlos?
							#collapseSixteen.panel-collapse.collapse
								.panel-body
									%p
										Puedes enviarnos un mensaje a:
									%p
										Correo: 
										%strong
											cursos@learny.me 
									%p
										Skype: 
										%strong
											learny.me 
									%p
										Facebook: 										
										%a{:href => "#"}
											%strong
												facebook.com/learny
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeventeen"}
								%span.glyphicon.glyphicon-chevron-right
								¿Desde dónde puedo entrar a Learny?
							#collapseSeventeen.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Actualmente sólo desde el navegador de tu PC, laptop o dispositivo móvil en learny.me. Para dispositivos Android te recomendamos usar Chrome, Firefox u Opera, pronto se liberará la App oficial para Android y iOS.
				