- provide(:title, 'Frecuently Asked Questions')

%div{:class=>"container"}
	%div{:class=>"row"}
		%div{:class=>"col-md-12"}
			%h1 Frecuently Asked Questions
			#accordion.panel-group
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
								%span.glyphicon.glyphicon-chevron-right
								What's Learny?
							#collapseOne.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Learny is a meeting place for learning. In Learny believe we all have a topic we love and we would love to share. We want to connect the passionate expert with people eager to learn from him, in a relaxed and friendly atmosphere.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
								%span.glyphicon.glyphicon-chevron-right
								How does Learny work?
							#collapseTwo.panel-collapse.collapse
								.panel-body
									%p.text-justified
										If you are an 
										%strong
											expert 
										in some topic and you love teaching, Learny helps you getting you a place that suits your needs. In addition, we will advertise your course so that you only have to worry about rocking in class.
									%p	
										If you're 
										%strong 
											looking to learn something
										, Learny offers a catalog of all kinds of courses: cooking, languages, technology, history, philosophy, music, marketing, design, advertising, dance, singing, sports, chess, skateboarding, beauty, hydroponics, preparation beer ... while we can find an expert in the subject, we will bring to you.
									%p	
										If you have an 
										%strong
											establishment, danceroom, restaurant, gym, bar, cafe, garage, garden, or any public or private space that you think can be used to teach a class, Learny is the ideal place to advertise it. Not only you will attract new customers and give him fame to your property, you will be driving the open and uncensored education where the institutions is almost impossible to find.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
								%span.glyphicon.glyphicon-chevron-right
								Why Learny and not an online course?
							#collapseThree.panel-collapse.collapse
								.panel-body
									%p.text-justified
										The mind retains 10% of what we read, 20% of what you hear, and 30% of what you see in pictures. The retention can be increased up to 90% when further discussed and experienced. Do you want to learn to swim watching videos on Youtube? How about a cooking course? The taste, smell and touch will help you to learn.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
								%span.glyphicon.glyphicon-chevron-right
								Why Learny and not an institution?
							#collapseFour.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Most of the time the reputation of an institution does not guarantee that the instructor is good. Learny instructors receive direct feedback from their students through references in his public profile. This helps the instructor continually to improve and build confidence prospective students looking to take a course with instructor said.
									%p
										Sometimes the instructor is excellent, but the facilities are terrible. In Learny we want you to feel comfortable and enjoy the experience of attending each class. German grammar rules are understood much better with a wheat beer in the Berlin bar... we mean it!
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
								%span.glyphicon.glyphicon-chevron-right
								Are you a MOOC, moodle or an e-Learning?
							#collapseFive.panel-collapse.collapse
								.panel-body
									%p.text-justified
										No, any of the three. Learny is a tool that helps people to meet with experts on topics of interest to learn from them. We believe that the experience of meeting people does not compare to any alternative online. If you prefer to have more followers on twitter to go out with friends, maybe Learny is not for you.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix"}
								%span.glyphicon.glyphicon-chevron-right
								Are classroom courses or online?
							#collapseSix.panel-collapse.collapse
								.panel-body
									%p.text-justified
										The courses are classroom. In Learny the important thing is people and we foster the encounter between individuals interested in the same topics. It is not only important WHAT topics are taught, it is better who, how and where is teached.				
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven"}
								%span.glyphicon.glyphicon-chevron-right
								Where courses, workshops, conferences, etc. are given?
							#collapseSeven.panel-collapse.collapse
								.panel-body
									%p.text-justified
										It depends on the expert and the subject to be taught. You can find courses by area and choose the one that suits you. If you find an incredible course but is given in another city, you send a message to the instructor and say him that you are creating a fan club for him, perhaps you convince him to start a tour.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEight"}
								%span.glyphicon.glyphicon-chevron-right
								If I want to teach a course, Do I need to have a document that certify me as an expert on the topic?
							#collapseEight.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Although your resume is very valuable in Learny is more important the opinion of your students. We recommend you to have a great profile, add all acknowledgments and experiences you have in the topic. In addition we recommend you to obtain a great number of references to attract more students. You can start giving free courses to get good references in your profile.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseNine"}
								%span.glyphicon.glyphicon-chevron-right
								What topics can I teach?
							#collapseNine.panel-collapse.collapse
								.panel-body
									%p.text-justified
										That topic you could spend hours talking without tiring, or that so people always ask you because you're the expert. You decide what and how you want to teach it.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTen"}
								%span.glyphicon.glyphicon-chevron-right
								Are there free courses?
							#collapseTen.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Sure, but this depends on the expert due to he is who chooses the topic and cost of the course.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEleven"}
								%span.glyphicon.glyphicon-chevron-right								
								What are the payment options?
							#collapseEleven.panel-collapse.collapse
								.panel-body
									%p.text-justified
										For now only we accept cash. We are working so that you can use Paypal, Conekta, Bitcoins, Timecoins, etc. to pay your courses.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwelve"}
								%span.glyphicon.glyphicon-chevron-right								
								What currency can I pay the courses?
							#collapseTwelve.panel-collapse.collapse
								.panel-body
									%p.text-justified
										In Mexican pesos (MXN), if you want to use another currency email us to
										%strong
											cursos@learny.me
										and we will give you a solution.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThirteen"}
								%span.glyphicon.glyphicon-chevron-right
								Do I get something to justify that attended the course?
							#collapseThirteen.panel-collapse.collapse
								.panel-body
									%p.text-justified
										By the moment our courses do not have official recognition. The skills and experiences that you will get in Learny go far beyond paper.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourteen"}
								%span.glyphicon.glyphicon-chevron-right
								I paid a course, now what do I do?
							#collapseFourteen.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Wait for the confirmation email where you will receive your pass entrance that you have to present the day of the course.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFifteen"}
								%span.glyphicon.glyphicon-chevron-right
								What happen if I paid a course and I can not attend? Is there a refund policy?
							#collapseFifteen.panel-collapse.collapse
								.panel-body
									%p.text-justified
										we do not do refunds the money, but we can give you credit for other courses in Learny. Or you can transfer pass  entrance to someone else who wants to take the course.
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSixteen"}
								%span.glyphicon.glyphicon-chevron-right
								I did not undersatand some things or I would suggest changes to Learny, how can I contact you?
							#collapseSixteen.panel-collapse.collapse
								.panel-body
									%p
										You can send a message to:
									%p
										Email: 
										%strong
											cursos@learny.me 
									%p
										Skype: 
										%strong
											learny.me 
									%p
										Facebook: 										
										%a{:href => "#"}
											%strong
												facebook.com/learny
				.panel.panel-default
					.panel-heading
						%h4.panel-title
							%a.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeventeen"}
								%span.glyphicon.glyphicon-chevron-right
								Where can I access to Learny?
							#collapseSeventeen.panel-collapse.collapse
								.panel-body
									%p.text-justified
										Only from the browser on your PC, laptop or mobile device in learny.me. For Android devices we recommend using Chrome, Firefox or Opera, soon the official App for Android and iOS will be released.
				
