- provide(:title, 'Terminos del servicio')

%div{:class=>"container"}
	%div{:class=>"row"}
		%div{:class=>"col-md-12"}
			%h1 Términos del servicio
			%p{:class=>"text-justify"}
				Bienvenido a Learny (la “Plataforma”). Nos es grato ofrecerle el Servicio (se define más abajo) donde participan los usuarios (“Experto”, “Estudiante”, “Establecimiento”), sujeto a estos términos y condiciones (“Términos de Servicio”) y las Políticas de Privacidad correspondientes a Learny. Al acceder y utilizar el Servicio usted expresa su consentimiento, acuerdo y entendimiento de los Términos de Servicio y las Políticas de Privacidad. Si no está de acuerdo con los Términos de Servicio o las Políticas de Privacidad, no utilice el Servicio.
			%p{:class=>"text-justify"}
				%strong
					1. Información importante.
				Debe leer cuidadosamente los siguientes Términos de Servicio. La compra o uso de nuestros productos o servicios implica que usted ha leído y aceptado estos Términos de Servicio. Los cursos, talleres, conferencias, etc. ofrecidos en la Plataforma son creados, publicados e impartidos por los Expertos registrados y están sujetos a los Términos de Servicio de este documento.
			%p{:class=>"text-justify"}
				%strong
					2. Descripción del Servicio.
				La Plataforma ofrece la posibilidad de aprender diversos temas de cualquier tipo siempre y cuando no sean temas delicados que puedan afectar a ciertos grupos de personas o puedan atentar contra su libertad y / o derechos que se rijan en México. Los temas se imparten de forma presencial establecido previamente en el Establecimiento asignado, de ninguna manera se impartirán los temas por servicios en línea (chat, streaming, videos, etc.).
			%p{:class=>"text-justify"}				
				La funcionalidad de Learny es unir a las personas para que puedan enriquecerse de temas que siempre han querido aprender y que una institución educativa no tiene la capacidad de ofrecer.
			%ul
				%li
					%p
						El Servicio es a través de la Plataforma con su computadora personal (PC, laptop) y en la mayoría de dispositivos móviles compatibles con la arquitectura de Learny.
				%li
					%p
						Es necesario registrarse a la Plataforma proporcionando los datos necesarios para tener acceso total al rol (Estudiante, Experto o Establecimiento) que haya elegido en la Plataforma.
				%li
					%p
						No es necesario tener una edad mínima para hacer uso de la Plataforma pero es recomendable que sea usada por personas mayores a 15 años.
				%li
					%p
						Al utilizar el Servicio, usted autoriza la recopilación, procesamiento y utilización de toda aquella información relacionada con el uso que usted hace del Servicio, la cual se recopila y maneja conforme con los términos de nuestras Políticas de Privacidad.
			%p{:class=>"text-justify"}
				%strong
					3. Política de reembolso.
				En construcción
			%p{:class=>"text-justify"}
				%strong
					4. Comprobación antifraude.
				La transacción del Estudiante puede ser aplazada para la comprobación antifraude manual durante 10-20 minutos. También puede ser suspendida por más tiempo (alrededor de 20 horas) para una investigación más rigurosa, para evitar transacciones fraudulentas.
			%p{:class=>"text-justify"}
				%strong
					5. Instalación de Software.
				Al hacer uso de la Plataforma no es necesario instalar cualquier tipo de software (plugin, extensiones, etc.). Nunca se te pedirá instalar algo en tu computadora personal a menos que sea en un dispositivo móvil con sistema operativo Android o iOS ya que es necesario instalar la aplicación oficial de Learny si es que la has descargado previamente de la Play Store o App Store, si no estás de acuerdo con instalar la aplicación puedes hacer uso de la plataforma por medio del navegador web del dispositivo.
			%p{:class=>"text-justify"}
				%strong
					6. Precios.
				Los precios publicados en la Plataforma son en Pesos Mexicanos y son vigentes salvo error tipográfico. Todos los precios llevan el IVA incluido aplicable en el día de la publicación del curso, taller, conferencia, etc., cualquier cambio de tasa del IVA será aplicado automáticamente a los precios de los productos o servicios que ofrece la Plataforma.
			%p{:class=>"text-justify"}
				En caso de necesitar factura, deberá solicitarla a través del correo electrónico cursos@learny.me, Learny no proporciona ninguna factura por medio de su sitio web cualquier factura ilegal descargada a través de la página web no tendrá ninguna validez legal.
			%p{:class=>"text-justify"}
				%strong
					7. Formas de pago.
				Al formular el pago, el Estudiante paga los cursos, talleres, conferencias, etc. solicitados mediante: 
			%ol
				%li
					Paypal
				%li
					Depósitos bancarios
				%li
					Pago en efectivo
			%p{:class=>"text-justify"}
				%strong
					8. Registro de usuarios.
				Para navegar por la Plataforma y consultar información no es necesario estar registrado, si se requiere hacer uso del Servicio que ofrece Learny es necesario estar registrado.
			%p{:class=>"text-justify"}
				%strong
					9. Proceso de compra.
				Para pagar el servicio que ofrece Learny es necesario estar registrado. Los datos del Usuario se recogen en el instante del pago mediante la pasarela de pago Paypal.
			%p{:class=>"text-justify"}
				%strong
					10. Anulación o devoluciones.
				En construcción
			%p{:class=>"text-justify"}
				%strong
					11. Cambios en esta política de privacidad.
				Learny tiene la facultad de actualizar estos Términos de Servicio en cualquier momento. Cuando lo hagamos, vamos a publicar una notificación en la página principal de nuestro sitio, revisar la fecha de actualización en la parte inferior de esta página y le enviaremos un correo electrónico. Insistimos a los usuarios a comprobar con frecuencia esta página para cualquier cambio para mantenerse informado acerca de cómo estamos ayudando a proteger la información personal que recopilamos. Usted reconoce y acepta que es su responsabilidad revisar esta política de privacidad periódicamente y tomar conciencia de las modificaciones.
			%p{:class=>"text-justify"}
				%strong
					12. Su aceptación de estos términos.
				Al utilizar este sitio, usted expresa su aceptación de estos Términos de Servicio. Si usted no está de acuerdo con esta política, por favor no utilice nuestro Sitio. Su uso continuo del Sitio después de la publicación de cambios a estos Términos de Servicio será considerado su aceptación de dichos cambios.
			%p{:class=>"text-justify"}
				%strong
					13. Para contactar con nosotros.
				Si usted tiene alguna pregunta sobre estos Términos de Servicio, las prácticas de este sitio, o sus relaciones con este sitio, por favor póngase en contacto con nosotros en horario de oficina de la Ciudad de México:
			%p
				%ul{:class=>"list-unstyled"}
					%li
						learny.me
					%li
						cursos@learny.me
			%p
				Este documento fue actualizado el 1 de diciembre de 2014