.container.main
  .row
    .col-md-8
      .jumbotron.next-courses
        .row.well
          =render partial: 'shared/carousel_next_workshops', locals: {next_workshops: current_venue.next_workshops}




    / Reconocimientos
    / Referencias
    .col-md-4
      .panel.panel-primary.comentarios
        .panel-heading
          %h3.panel-title Comentarios Recientes
        .panel-body

      / Ranking

         
  / Solicitudes
  .row
    .col-md-8
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Solicitudes
        .panel-body
          %table.table
            %thead
              %tr
                %th # Asistentes
                %th Tema
                %th Instructor
                %th Fecha
            %tbody

    .col-md-8
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Cursos en busca de lugar
        .panel-body
          %table.table
            %thead
              %tr
                %th # Asistentes
                %th Tema
                %th Instructor
                %th Fecha
            %tbody