#map-container {
    width: 900px;
    height: 500px;

 }


#map_canvas {
    width: 800px;
    height: 400px;
 }

#map_canvas label { width: auto; display:inline; }
#map_canvas img { max-width: none; }