// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-dialog {
	width:100%;
	height:100%;
}
.thumbnail {
	margin-left:35%;
	width:200px;
	height:200px;
}

.venue-desc{
	margin-left:20px;
}