// Place all the styles related to the workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.animation{
  float: right;
  transition: all 750ms ease-in-out;
}

#ad-free-course{
	position: relative;
	width: 25%;	
	backface-visibility: hidden;
}

#ad-free-course .sticky{
	transform: rotate(45deg);
}

#ad-free-course:hover .sticky{
	transform: rotate(10deg);
}

#ad-free-course .sticky{
	position: absolute;	
	width:180px;
	height: 180px;
}

#ad-free-course .reveal .circle{
  box-shadow: 0 1px 0px rgba(0,0,0,.15); 
  font-weight: 200;
  line-height: 140px;
  text-align: center;  
  color: black;
}

#ad-free-course .reveal .circle{
	background: #428BCA;
}

#ad-free-course .circle_wrapper{
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}

#ad-free-course .circle{
	position: absolute;
	width: 140px;
	height:  140px;
	margin: 20px;	
	border-radius: 999px;
}

#ad-free-course .back{
	height: 10px;
	top: 30px;
}

#ad-free-course:hover .back{
	height: 90px;
	top: 110px;
}

#ad-free-course .back .circle{
	margin-top: -130px;
	background-color: #fbec3f;
	background-image: -webkit-linear-gradient(bottom, rgba(251,236,63,.0), rgba(255,255,255,.8));
}

#ad-free-course:hover .back .circle{
	margin-top: -50px;
}

#ad-free-course .front{
	height: 150px;
	bottom: 0;
	top: auto;	
	-webkit-box-shadow: 0 -140px 20px -140px rgba(0,0,0,.3);
}

#ad-free-course:hover .front{
	height: 70px;	
	-webkit-box-shadow: 0 -60px 10px -60px rgba(0,0,0,.1);
}

#ad-free-course .front .circle{
	margin-top: -10px;
	background: #fbec3f;
	background-image: -webkit-linear-gradient(bottom, rgba(251,236,63,.0) 75%, #f7bb37 95%);
  background-image: -moz-linear-gradient(bottom, rgba(251,236,63,.0) 75%, #f7bb37 95%);
  background-image: linear-gradient(bottom, rgba(251,236,63,.0) 75%, #f7bb37 95%);
}

#ad-free-course h4{  		
  font-weight: 100;
  text-align: center;
  position: absolute;
  width: 180px;
  height: 140px;
  line-height: 160px;	
  transition: opacity 50ms linear 400ms;
}

#ad-free-course:hover h4{
	opacity: 0;	
	transition: opacity 50ms linear 300ms;
}

#ad-free-course:hover .front .circle{
	margin-top: -90px;
	background-color: #AAA;
	background-position: 0 100px;
}