Learny | Nuevo estudiante inscrito al taller de #{@workshop.name}
- if @venue.nil?
  Este taller aún no tiene un Establecimiento asignado, si no consigues uno puedes contactar al equipo de Learny y te conseguiremos uno.
- else
  El taller se impartirá en #{@venue.name}!
  \- Horario:
  #{@workshop.reservation.fmt_duration}

\- Estudiante:
#{@student.first_name}            

Afectuosamente, el equipo de Learny