Learny | Nuevo Taller Propuesto aceptado por establecimiento

El taller "#{@workshop.name}" ha sido confirmado con éxito!


* El taller está confirmado en el Establecimiento "#{@venue.name}"

* Horario: #{@reservation.fmt_duration}

* Prepara tu clase de manera dinámica y divertida para generar mejores referencias. Recuerda que los Estudiantes podrán dejar evaluaciones en tu perfil. Entre mejores referencias obtengas más oportunidades tendrás de conseguir nuevos Estudiantes en el futuro.

Afectuosamente, el equipo de Learny