Learny | Nuevo Taller Propuesto

El taller "#{@workshop.name}" ha sido creado con éxito!


* El taller aún no está confirmado ya que no tiene un Establecimiento asignado. Si necesitas ayuda para encontrar un lugar no dudes en contactar directamente al staff de Learny: cursos@learny.me

* Podrás editar los detalles del curso cuantas veces necesites. Si necesitas ajustar la capacidad mínima o máxima del taller, costo, temario, etc. puedes hacerlo desde la sección 'Mis Talleres'

* Prepara tu clase de manera dinámica y divertida para generar mejores referencias. Recuerda que los Estudiantes podrán dejar evaluaciones en tu perfil. Entre mejores referencias obtengas más oportunidades tendrás de conseguir nuevos Estudiantes en el futuro.

Afectuosamente, el equipo de Learny