%h2 #{current_expert.first_name} #{current_expert.last_name}

.container
  .row.body
  .col-md-8
    .jumbotron.next-courses
      .row.well
        .col-md-4
          .panel.panel-danger
            .panel-heading
              %h3.panel-title
            .panel-body
              %h1.text-center
                14
            .panel-footer
              %h4.text-center
                Septiembre
        .col-md-8
          %blockquote
            %h2
              %a{:href => "#"} Taller de canto gutural
            %h3
              %a{:href => "#"} Circo Volador
            %p
              %a{:href => "#"}
                %span.badge.alert-info 5 asistentes
          %ul.pager
            %li
              %a{:href => "#"} ← Previo
            %li
              %a{:href => "#"} Siguiente →
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Proponer Nuevo Curso
      .panel-body
        %form{:role => "form"}
          .form-group
            %label{:for => "tema1"} Nombre
            %input#tema1.form-control{:placeholder => "Nombre del curso, taller o plática"}/
          .form-group.col-md-6
            %label{:for => "tipo1"} Tipo
            .input-group
              %label.radio-inline
                %input#tipo1{:checked => "true", :name => "tipo-curso", :type => "radio"}>/
                Taller o clase
              %label.radio-inline
                %input#tipo2{:name => "tipo-curso", :type => "radio"}>/
                Curso
          .form-group.col-md-3
            %label{:for => "duracion"} Duración
            .input-group
              %input#duracion.form-control/
              %span.input-group-addon horas
          .form-group.col-md-3
            %label{:for => "precio"} Precio
            .input-group
              %span.input-group-addon $
              %input#precio.form-control/
          .form-group
            %label{:for => "establecimiento"} Establecimiento
            .input-group
              %input#establecimiento.form-control{:placeholder => "Buscar establecimiento", :readonly => "readonly"}/
              %span.input-group-btn
                %button.btn.btn-default{:type => "button"}
                  %span.glyphicon.glyphicon-search
          .form-group
            %label{:for => "a-quien-se-dirige"} ¿A quien está dirigido?
            %input#a-quien-se-dirige.form-control/
          .form-group
            %label{:for => "precio"} ¿Los estudiantes requieren conocimientos previos?
            %input#conocimientos-previos.form-control{:type => "number"}/
          .form-group
            %label{:for => "agenda-curso"} Agenda / Temario
            %textarea.form-control{:rows => "5"}
          %button.btn.btn-primary{:type => "submit"} Proponer
  .col-md-4
    #pnl-badges.panel.panel-primary
      .panel-heading
        %h3.panel-title Mis Reconocimientos
      .panel-body.badges-content
        .scroll-panel
          .row-fluid
            
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Ranking
      .panel-body
        %table.table
          %thead
            %tr
              %th #
              %th{:colspan => "2"} Experto
              %th Puntos
          %tbody
            %tr
              %td 1
              %td Mark
              %td Otto
              %td 10500
            %tr.info
              %td 2
              %td Engel
              %td Blut
              %td 8900
            %tr
              %td 3
              %td Larry
              %td the Bird
              %td 8500
    .panel.panel-primary.pnl-comentarios
      .panel-heading
        %h3.panel-title Comentarios Recientes
      .panel-body
        .scroll-panel
          .row
            .col-xs-4
              %a{:href => "#"}
                %img.img-circle.img-responsive{:alt => "Larry Page", :src => ""}/
            .col-xs-8
              %blockquote
                %p
                  "Una clase increible!, espero que se organicen más!"
                %p
                  %small Megan Fox
        .row
          .col-xs-4
            %a{:href => "#"}
              %img.img-circle.img-responsive{:alt => "Megan Fox", :src => "#"}/
          .col-xs-8
            %blockquote
              %p
                "Muy buena técnica del profesor"
              %p
                %small Larry Page