.container
  .row.body
  .col-md-8
    .jumbotron.next-courses
      .row.well
        =render partial: 'shared/carousel_next_workshops', locals: {next_workshops: current_expert.next_workshops}
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Proponer Nuevo Curso
      .panel-body
        =render 'workshops/form', object: @workshop
  .col-md-4
            
    .panel.panel-primary.pnl-comentarios
      .panel-heading
        %h3.panel-title Comentarios Recientes
      .panel-body
        .scroll-panel
