.container
  .row.body
  .col-md-8
    .jumbotron.next-courses
      .row.well
        .carousel.slide#carousel_next_workshops{"data-ride" => "carousel"}
          %ol.carousel-indicators
            -current_expert.next_workshops.count.times do |counter|
              %li{'data-slide-to' => counter, 'data-target' => '#carousel_next_workshops'}
          .carousel-inner
            -current_expert.next_workshops.each_with_index do |workshop,index| 
              .item{:class => ("active" if index == 0)}
                .col-md-4
                  .panel.panel-danger
                    .panel-heading
                      %h3.panel-title
                    .panel-body
                      %h1.text-center
                        =workshop.reservation.starts_at.strftime('%d')
                    .panel-footer
                      %h4.text-center
                        =workshop.reservation.starts_at.strftime('%B')
                .col-md-8
                  %blockquote
                    %h2
                      =link_to workshop.name, workshop
                    %h3
                      =link_to workshop.venue.name, '#'
                    %p
                      %a{:href => "#"}
                        %span.badge.alert-info 5 asistentes
                
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel_next_workshops", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel_next_workshops", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right
      
        
        %ul.pager
          %li
            %a{:href => "#"} ← Previo
          %li
            %a{:href => "#"} Siguiente →
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Proponer Nuevo Curso
      .panel-body
        =render 'workshops/form', object: @workshop
  .col-md-4
            
    .panel.panel-primary.pnl-comentarios
      .panel-heading
        %h3.panel-title Comentarios Recientes
      .panel-body
        .scroll-panel
